<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../index.css">
    <title>Creacion de Cuenta</title>
</head>
<body>
    <header class="Header_Crear_Cuenta">
        <h2>Crear Cuenta de Demonth</h2>
        <div class="Enlace_Crear_Cuenta">
            <a href="../index.html">Inicio</a>
            <a href="Contactos.html">Contacto</a>
        </div>
    </header>
    <main class="Main_Crear_Cuenta">
          <form class="Form_Crear_Cuenta" action="/registro" method="POST">
            <label for="Nombre">Nombre Completo</label>
            <input type="text" id="Nombre" name="Nombre" placeholder="Ingrese su Nombre">

            <Label for="Apellido Paterno">Apellido Paterno</Label>
            <input type="text" id="Apellido Paterno" name="Apellido Paterno" placeholder="Ingrese su Apellido Paterno"></input>

            <label for="Apellido Materno">Apellido Materno</label>
            <input type="text" id="Apellido Materno" name="Apellido Materno" placeholder="Ingrese su Apellido Materno"></input>

            <label for="Correo Electronico">Correo Electronico</label>
            <input type="email" id="Correo Electronico" name="Correo Electronico" placeholder="Correo Electronico"></input>

            <label for="Contraseña">Contraseña</labeL>
            <input type="password" id="Contraseña" name="contraseña" placeholder="Ingrese su Contraseña"></input>

            <label for="nacimiento">Fecha Nacimiento</label>
            <input type="date" id="nacimineto" name="Fecha nacimiento" max="01-01-2026" min="03-04-1993"></input>

            <input type="submit" value="Crear Cuenta">
          </form>
    </main>
</body>

</html>